<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Registrar Nueva Categoria</h3>
    
  </div>
  <div class="panel-body">

	<%= render 'form' %>
</div>
<a class="glyphicon glyphicon-arrow-left"><%= link_to 'Regresar', categories_path %></a>
